<div class="class container__big-card">

  <div class="big-card__photo">
     <img src="https://camo.githubusercontent.com/8469f2cdb2f36dd15ee9ff5c71ad380773b56b477aac7b7c62aa5e379970e0e9/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170692f746f702d6c616e67732f3f757365726e616d653d657a696f63646c266c61796f75743d636f6d70616374266c616e67735f636f756e743d37267468656d653d6d65726b6f"
      alt=""
      srcset="">


  </div>

  <a href="">

  </a>
  <div class="big-card__title">
    <h1><a href="#"> Portifólio GitHub </a></h1>

  </div>
  <div class="big-card__description">
    <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Officiis consequatur ad laborum magni ullam repellendus quia recusandae velit aliquid est
      doloribus, et vero non quis deserunt commodi voluptatem blanditiis! Aliquam.orem ipsum dolor
       sit amet consectetur, adipisicing elit. Officiis consequatur ad laborum magni ullam repellendus quia recusandae velit aliquid est
      doloribus, et vero non quis deserunt commodi voluptatem blanditiis! Aliquam..</p>
</a>
  </div>

</div>
