<div class="container__menu-title">
  <hr>
  <h1>Ezio Blog Angular</h1>
  <hr>

  <div style="display: inline_block"><br>
    <img align="center" alt="Ezio-Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
    <img align="center" alt="Ezio-Ts" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
    <img align="center" alt="Ezio-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
    <img align="center" alt="Ezio-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
    <img align="center" alt="Ezio-angular" height="30" width="40"
         src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg">
    <img align="center" alt="Ezio-nodeJs" height="30" width="40"
         src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg">
       <img align="center" alt="Ezio-react" height="30" width="40"
         src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg">
      <img align="right" alt="Rafa-pic" height="150" style="border-radius:50px;" src= "https://gifdb.com/images/high/nintendo-super-mario-thinking-and-figuring-out-hsdkxka9kwix5d6g.gif">


</div>
