<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/portals_3/2x1_SuperMarioHub_image1600w.jpg"
    cardTitle="It's a me Mario"
    cardDescription="Ícone da Nintendo, Mario marcou a história dos games em sua famosa série. Em 1980, após uma tentativa sem sucesso da Nintendo ao fazer um jogo baseado no desenho Popeye, Miyamoto, considerado o pai do Mario, foi então solicitado pela empresa para projetar um novo jogo baseado em suas próprias ideias."
   >
  </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Novo Filme Super Mario anunciado"
    photoCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCGck7lJJ_i8WOmRYn1oTN8NfNd7BG6yD7lQ&usqp=CAU"
    >
    </app-small-card>

    <app-small-card
    cardTitle="Super Mario Odyssey bate recorde de vendas "
    photoCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZZuTB1hQAJrXdixqpOhD0rabXewy2CQ8k_A&usqp=CAU"
    >
     </app-small-card>
    <app-small-card
     cardTitle="Nintendo Switch Edição Super Mario 35 anos! "
     photoCover="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/news_9/2021_1/january_13/H2x1_NSwitch_MarioNSwitchHardware.jpg"

    >
  </app-small-card>
  </div>
</div>
